<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Movie{% endblock %}</title>
</head>
<body>
<div class="header" align="center"><h1>Movie</h1></div>

<div class="menu" align="center">
    <ul>
        <li><a href="{% url 'index' %}">Main page</a></li>
        <li><a href="/movielist/">List all movies</a></li>
        <li><a href="/directors/">List all directors</a></li>
        <li><a href="/add_movie/">Add new movie</a></li>
        <li><a href="/add_director/">Add new director</a></li>
        <li><a href="/add_genre/">Add new genre</a></li>
        <li><a href="/search/">Search movies</a></li>
    </ul>
</div>

<div id="content" text-align="center">{% block content %}{% endblock %}</div>

</body>
</html>