{% extends "Movie/base.html" %}

{% block title %}{{ director.name }}{% endblock %}
{% block content %}

<div style="text-align:left">
    <a href="/directors/"><==== Other directors</a>
    <br>
    <br>
    <h2>{{ director.name }}</h2>
    <br>
    <h5>Year of birth: {{ director.year }}</h5>
    <h5>Nationality: {{ director.nationality }}</h5>
    <h5>Height: {{ director.height }}</h5>
</div>
<br>

<h4>Movies from this director:</h4>
<ul>
    <ul>
        {% for movie in movies %}
        <li><a href="/movielist/{{ movie.id }}/"><b>{{ movie.name }}</b></a></li>
        {% endfor %}
    </ul>
</ul>

</div>

{% endblock %}