{% extends "Movie/base.html" %}

{% block title %}Search something!{% endblock %}
{% block content %}

<div align="left">
    <h1>Searching for movies</h1>
    <h3>Search by the first letter in the movies's name:</h3>
    {% for letter in alphabet %}
    <a href="/search/{{ letter }}/">{{ letter }}</a>
    {% endfor %}

    {% csrf_token %}
    <h3 align="left">Searching by name:</h3>
    <form align="left" action="/search" method="GET">
        <input type="text" name="movie_input" placeholder="Name of the movie..."
               value="{% if searched_movie %}{{ searched_movie }}{% endif %}">
        <input type="submit" value="Search">
    </form>

    {% csrf_token %}
    <h3 align="left">Searching by director:</h3>
    <form align="left" action="/search" method="GET">
        <input type="text" name="director_input" placeholder="Director of the book..."
               value="{% if searched_director %}{{ searched_director }}{% endif %}">
        <input type="submit" value="Search">
    </form>

    {% if movies %}
    <h2>List of found movies:</h2>
    <ul>
        {% for movie in movies %}
        <li><a href="/movielist/{{ movie.id }}/"><b>{{ movie.name }}</b> - {{ movie.director.name }}</a></li>
        {% endfor %}
    </ul>

    {% else %}
    {% if first_letter %}
    <h2 color="red" align="left">Sorry, no movie starting with the letter <font color="red">"{{ first_letter }}"</font>
        was found in the movie database!</h2>
    {% elif searched_movie %}
    <h2 color="red" align="left">Sorry, no movie going by the name <font color="red">"{{ searched_movie }}"</font> was
        found in the movie database!</h2>

    {% elif searched_director %}
    <h2 color="red" align="left">Sorry, no director going by the name <font color="blue">"{{ searched_director }}"</font>
        was found in the movie database!</h2>
    {% endif %}
</div>

{% endif %}
{% endblock %}


